/* FUENTES */
@font-face {
  font-family: "TrebuchetMS";
  src: url(fonts/TrebuchetMS.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BebasNeue";
  src: url(fonts/BebasNeue.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WebSymbolsRegular";
  src: url(fonts/websymbols-regular-webfont.eot);
  src: url(fonts/websymbols-regular-webfont.eot?#iefix)
      format("embedded-opentype"),
    url(fonts/websymbols-regular-webfont.woff) format("woff"),
    url(fonts/websymbols-regular-webfont.ttf) format("truetype"),
    url(fonts/websymbols-regular-webfont.svg#WebSymbolsRegular) format("svg");
  font-weight: normal;
  font-style: normal;
}

/* ESTILOS GENERALES */

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../img/pattern.png");
}

.wrap {
  width: 1250px;
  margin: 0 auto;
}

.gear,
.icon {
  font-family: "WebSymbolsRegular";
}

.clearfix {
  clear: both;
  float: none;
}
/* CABECERA */
#header {
  width: 100%;
  height: 70px;
  background-color: #000000;
  font-family: "BebasNeue";
  color: white;
}

#logo {
  float: left;
  width: 200px;
  background-color: #37bcf9;
  text-align: center;
  margin-top: 8px;
  margin-left: 20px;
  letter-spacing: 1px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s;
}

#logo h3 {
  font-size: 40px;
  display: block;
  float: right;
  margin-top: 5px;
  margin-right: 65px;
  transition: all 0.3ms;
  text-shadow: 0px 0px 2px #000000;
}

#logo:hover h3 {
  animation: fromRight 0.5s linear;
}

@keyframes fromRight {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}

#logo:hover {
  border-radius: 2px;
  color: black;
  background-color: #ccc;
}

#logo .gear {
  display: block;
  float: left;
  font-size: 30px;
  margin-top: 8px;
  margin-left: 26px;
  text-shadow: 0px 0px 2px #000000;
  animation: rotate-gear 2s infinite linear;
}

@keyframes rotate-gear {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

#logo:hover .gear {
  animation: fromBellow 500ms linear;
}

@keyframes fromBellow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0);
  }
}

#menu {
  float: right;
  height: 70px;
  background: transparent;
}

#menu ul li {
  font-size: 24px;
  display: inline-block;
  margin: 0 20px 0 20px;
  letter-spacing: 1px;
  line-height: 70px;
}

#menu ul li a {
  display: block;
  color: white;
  text-decoration: none;
  transition: all 0.2s;
}

#menu ul li a:hover {
  color: #37bcf9;
  transform: scale(1.2, 1.2);
}

/* BANNER */
#banner {
  width: 95.5%;
  height: 100px;
  border: 10px solid white;
  box-shadow: 0 0 2px gray;
  background-image: url("../img/bakbaner.png");
  background-position: -250px -150px;
  margin: 20px auto;
  overflow: hidden;
  animation: backBanner 10s linear;
}

@keyframes backBanner {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -250px -150px;
  }
}

#banner h1 {
  display: block;
  width: 850px;
  font-family: "BebasNeue";
  font-size: 45px;
  font-weight: normal;
  color: white;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 2px 2px 1px black;
  margin: 27px auto;
  animation: showText 10s linear;
}

@keyframes showText {
  0% {
    transform: translateX(-600%) scale(5, 5);
    opacity: 1;
  }
  50% {
    transform: translateX(600%) scale(5, 5);
    opacity: 1;
  }
  75% {
    transform: translateX(-600%) scale(5, 5);
    text-shadow: none;
    color: transparent;
    opacity: 0;
  }
  100% {
    transform: translateX(0%) scale(1, 1);
    text-shadow: 2px 2px 1px black;
    color: white;
    opacity: 1;
  }
}

#sub-banner p {
  display: block;
  width: 850px;
  font-family: "arial";
  font-size: 18px;
  font-weight: normal;
  color: rgb(0, 0, 0);
  text-align: center;
  border: 1px solid;
  box-shadow: 0 0 3px gray;
  margin: 0 auto;
  margin-top: 40px;
  background-color: #37bcf9;
}

#sub-banner a {
  display: block;
  width: 100px;
  font-family: "BebasNeue";
  font-size: 20px;
  font-weight: normal;
  color: white;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 2px 2px 1px black;
  margin: 15px auto;
  margin-top: 40px;
  background-color: #37bcf9;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 3px gray;
  transition: all 0.2s ease-in-out;
}

#sub-banner a:hover {
  background-color: #000000;
  transform: rotate(-10deg) scale(1.1, 1.1);
  color: #37bcf9;
}

/* TARJETAS */
.card {
  width: 205px;
  height: 305px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 2px #ddd;
  background-color: white;
  float: left;
  overflow: hidden;
  margin: 23px;
  margin-top: 60px;
  cursor: pointer;
  transition: all 0.3s;
}

.card:hover {
  background-color: black;
}

.card:last-child {
  margin-right: 0px;
}

.card .icon {
  display: block;
  width: 100%;
  height: 130px;
  font-size: 50px;
  line-height: 110px;
  text-align: center;
  margin: 0 auto;
  transition: all 0.3s;
}

.card:hover .icon {
  font-size: 70px;
  color: #37bcf9;
  animation: showIcon 0.3s linear;
}

#cards .card:nth-child(3):hover .icon {
  font-size: 70px;
  color: #37bcf9;
  animation: rotateGear 1s infinite linear, showIcon 0.3s linear ;
}

.loader {
  width: 60px;
  height: 50px;
  display: block;
  font-size: 50px;
  line-height: 110px;
  text-align: center;
  margin: 40px auto;
  margin-top: 40px;
  transition: all 0.3s ease-in-out;
  
  --m: no-repeat linear-gradient(90deg, #000 70%, #0000 0);
  -webkit-mask: var(--m) calc(0 * 100% / 4) 100% / calc(100% / 5)
      calc(1 * 100% / 5),
    var(--m) calc(1 * 100% / 4) 100% / calc(100% / 5) calc(2 * 100% / 5),
    var(--m) calc(2 * 100% / 4) 100% / calc(100% / 5) calc(3 * 100% / 5),
    var(--m) calc(3 * 100% / 4) 100% / calc(100% / 5) calc(4 * 100% / 5),
    var(--m) calc(4 * 100% / 4) 100% / calc(100% / 5) calc(5 * 100% / 5);
  background: linear-gradient(#37bcf9 0 0) left/0% 100% no-repeat #555;
}
@keyframes l14 {
  100% {
    background-size: 120% 100%;
  }
}

.card:hover .loader {
    width: 80px;
  height: 60px;
    background-color: white;
  animation: showIcon 0.3s linear, l14 2s infinite steps(6);
}

@keyframes showIcon {
  from {
    transform: translateY(-200%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes rotateGear {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.card .category {
  width: 100%;
  height: 50px;
  font-family: "TrebuchetMS";
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: #00538c;
  transition: all 0.3s;
}

.card:hover .category {
  color: white;
  animation: showCategory 0.4s linear;
}

@keyframes showCategory {
  from {
    transform: translateY(-400%);
    color: black;
  }
  to {
    transform: translateY(0);
    color: white;
  }
}

.card .description {
  font-family: "TrebuchetMS";
  text-align: center;
  color: #0370b9;
  font-size: 15px;
  transition: all 0.3s;
}

.card:hover .description {
  color: white;
  animation: showDescription 0.4s linear;
}

@keyframes showDescription {
  from {
    transform: translateX(-300%);
    color: black;
  }
  to {
    transform: translateX(0);
  }
}

/* BARRA LATERAL */
#lateral {
  width: 300px;
  min-height: 1200px;
  font-family: "TrebuchetMS";
  float: right;
  margin: 9px;
  margin-top: 31px;
}

aside h3 {
  display: block;
  width: auto;
  height: 45px;
  line-height: 49px;
  background: url("../img/pxgray.png"), white;
  box-shadow: 0 1px 0 #393d3f, 1px 2px 0 #393d3f, 2px 3px 0 #393d3f,
    3px 4px 0 #393d3f;
  font-size: 30px;
  font-family: "BebasNeue";
  font-weight: normal;
  letter-spacing: 2px;
  padding-left: 15px;
  margin-top: 30px;
  margin-bottom: 15px;
}

#lateral h3:first-child {
  margin-top: 0px;
}

#search {
  width: 90%;
  height: 30px;
  margin: 10px auto;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #ccc inset;
}

#lateral input[type="text"] {
  width: 85%;
  height: 30px;
  background-color: transparent;
  color: #ccc;
  border-radius: 5px;
  border: none;
  padding-left: 5px;
  transition: all 0.5s;
}

#lateral input[type="text"] {
  color: #000000;
}

#lateral input[type="submit"],
#lateral input[type="button"] {
  height: 30px;
  cursor: pointer;
  font-size: 16px;
  background-color: transparent;
  border: none;
  border-left: 1px solid #ccc;
  color: #555;
  padding-left: 7px;
}

.aside-box {
  width: 85%;
  height: 240px;
  margin: 0 auto;
  margin-top: 20px;
  padding-top: 2px;
  background-color: white;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 3px 7px rgba(0, 0, 0, 0.3),
    0 1px white inset, 0 -3px 2px rgba(0, 0, 0, 0.3) inset;
}

#login input[type="email"],
#login input[type="password"] {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 82%;
  height: 30px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #ccc inset;
  border-radius: 5px;
  padding-left: 30px;
  color: grey;
}

#login input[type="email"]:focus,
#login input[type="password"]:focus {
  color: #555;
  box-shadow: 1px 1px 1px grey inset;
}

#login #user,
#login #password {
  display: block;
  text-align: center;
  position: absolute;
  margin-left: 15px;
  margin-top: 6px;
  height: 30px;
  border: none; /* Esto elimina el borde predeterminado del input */
  padding-right: 10px;
}

#login #user::after,
#login #password::after {
  content: "";
  position: absolute;
  top: -5px;
  right: 6px;
  height: 100%;
  width: 1px; /* Ancho del borde */
  background-color: rgba(194, 189, 189, 0.863); /* Color del borde */
}

#login #password {
  margin-left: 18px;
  margin-top: 25px;
  font-size: 20px;
}

#login input[type="button"],
#login input[type="submit"],
#login input[type="reset"],
#login button {
  width: 100px;
  height: 30px;
  margin: 0 auto;
  margin-top: 15px;
  margin-left: 17px;
  margin-bottom: 20px;
  background: linear-gradient(to bottom, #3eb8e5 0%, #2ca0ca 100%);
  color: white;
  font-size: 15px;
  font-family: "TrebuchetMS";
  font-weight: lighter;
  border: 1px solid #156785;
  border-radius: 0px;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    box-shadow: 0 0 2px #000000;
    transform: scale(1.05, 1.05);
    background: linear-gradient(to bottom, #2ca0ca 0%, #3eb8e5 100%);
  }
}

#login a {
  display: block;
  font-size: 14px;
  text-decoration: none;
  color: blue;
  margin-top: 10px;
  text-align: center;
  &:hover {
    color: #37bcf9;
    text-decoration: underline;
    transform: scale(1.1, 1.1);
  }
}

#social {
  height: 190px;
}

#social a img{
  display: block;
  text-decoration: none;
  color: #333;
  font-size: 30px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#social div .overlay {
  display: block;
  height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 0 0 1px #ccc;
  border: 3px solid white;
  box-shadow: 0 0 4px #ccc;
  background: #f4f7fe;
  position: absolute;
  padding: 5px;
  margin-left: 80px;
  margin-top: -57px;
  transform: translateX(-80px);
  opacity: 0;
  transition: all 0.3s;
}

#social div:hover .overlay {
  opacity: 1;
  transform: translate(0px);
}

#sponsors a img {
  display: block;
  width: 200px;
  margin: 0 auto;
  margin-top: 20px;
  transition: all 0.3s;
}

#sponsors a:hover img {
  transform: translateY(20px);
  background-color: #37bcf9;
  border-radius: 15px;
  box-shadow: 0 1px 0 #393d3f, 1px 2px 0 #393d3f, 2px 3px 0 #393d3f,
  3px 4px 0 #393d3f;
}

/* ARTÃCULOS */
#articles {
  width: 860px;
  float: left;
}

#articles h2 {
  display: block;
  width: 100%;
  height: 75px;
  line-height: 75px;
  text-align: center;
  font-family: "BebasNeue";
  font-size: 40px;
  font-weight: normal;
  letter-spacing: 2px;
  background: url("../img/pxgray.png"), white;
  box-shadow: 0 1px 0 #393d3f, 1px 2px 0 #393d3f, 2px 3px 0 #393d3f,
    3px 4px 0 #393d3f;
  margin-top: 30px;
  margin-bottom: 15px;
}

#articles article {
  width: 97.6%;
  height: auto;
  border: 1px solid #ccc;
  margin: 40px auto;
  padding: 10px;
  font-family: "TrebuchetMS";
  background-color: white;
  color: black;
  box-shadow: 1px 1px 2px #ddd;
}

#articles article h4 {
  display: block;
  font-size: 23px;
  margin: 3px;
}

#articles article h4 a {
  text-decoration: none;
  color: #00538c;
  &:hover {
    color: #37bcf9;
    text-decoration: underline;
  }
}

#articles .data {
  float: right;
  background: #393d3f;
  color: wheat;
  height: 30px;
  line-height: 30px;
  margin: -10px;
  padding: 4px;
  font-size: 13px;
  border-radius: 0 0 0 10px;
}

#articles .data span {
  margin: 6px;
}

#articles article p {
  margin-top: 10px;
  margin-bottom: 10px;
}

#blog {
  height: 100px;
  margin-top: 60px;
  line-height: 100px;
  text-align: center;
  transition: all 1s;
}

#blog a {
  display: block;
  font-family: "BebasNeue";
  font-size: 40px;
  letter-spacing: 3px;
  color: #00538c;
  text-decoration: none;
  transition: all 1s;
}

#blog:hover {
  border: 10px solid #37bcf9;
  border-radius: 240px;
  box-shadow: 0 0 10px gray;
  background-color: #000;
  animation: blink 10s infinite linear;
}

#blog:hover a {
  text-shadow: 1px 1px 1px black, 1px 2px 1px black, 1px 3px 1px black, 1px 4px 1px black, 1px 5px 1px black, 1px 6px 1px black;
  color: white;
}

@keyframes blink {
  0% {
    border: 10px solid #37bcf9;
    box-shadow: 0 0 10px white;
  }
  30% {
    border: 10px solid greenyellow;
    box-shadow: 0 0 10px green;
  }
  50% {
    border: 10px solid yellow;
    box-shadow: 0 0 10px yellow;
  }
  75% {
    border: 10px solid purple;
    box-shadow: 0 0 10px purple;
  }
  100% {
    border: 10px solid white;
    box-shadow: 0 0 10px black;
  }

}

/* FOOTER */
#footer {
  width: 100%;
  height: 500px;
  background: black;
  color: white;
  overflow: hidden;
}

#footer .wrap > div {
  float: left;
  width: 320px;
  height: 400px;
  margin: 40px;
  text-align: center;
  color: white;
  font-family: "TrebuchetMS";
}

#footer a {
  text-decoration: none;
  color: #37bcf9;
  transition: all 0.3s;
}

#footer h5 {
  display: block;
  background: url("../img/pxgray.png"), white;
  height: 50px;
  letter-spacing: 2px;
  text-align: center;
  font-family: "BebasNeue";
  font-size: 40px;
  line-height: 55px;
  color: black;
  border-radius: 5px;
  box-shadow: 0 1px 0 #393d3f, 1px 2px 0 #393d3f, 2px 3px 0 #393d3f,
    3px 4px 0 #393d3f;
  margin-bottom: 15px;
}

#footer ul {
  text-align: left;
  margin: 20px;
  font-size: 25px;
  text-transform: uppercase;
}

#footer ul li {
  margin-top: 10px;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

#footer ul li a {
  display: block;
  height: 40px;
  transition: all 0,3s;
}

#footer ul li:hover a {
  padding-left: 40px;
  color: white;
  width: 100%;
}

#footer iframe {
  width: 100%;
  height: 300px;
  margin-top: 10px;
  border-radius: 5px;
  border: 5px solid white;
  box-shadow: 0 1px 0 #393d3f, 1px 2px 0 #393d3f, 2px 3px 0 #393d3f,
    3px 4px 0 #393d3f;
}

#footer img {
  margin-bottom: 15px;
}

#footer #browsers img {
  width: 45px;
  transition: all 0.3s;
}

#footer #browsers img:hover {
  transform: scale(1.4);
  filter: drop-shadow(1px 1px 3px white);
}

#copy p {
  font-family: "TrabuchetMS";
  font-size: 15px;
  margin-top: 30px;
  font-weight: normal;
  text-shadow: 0px 0px 2px #37bcf9;
}

#newsletter input[type="submit"] {
  width: 100px;
  height: 30px;
  margin: 0 auto;
  margin-top: 15px;
  margin-left: 17px;
  margin-bottom: 20px;
  background: linear-gradient(to bottom, #3eb8e5 0%, #2ca0ca 100%);
  color: white;
  font-size: 15px;
  font-family: "TrebuchetMS";
  font-weight: lighter;
  border: 1px solid #156785;
  border-radius: 0px;
  cursor: pointer;
  transition: all 0.3s;
}

#newsletter input[type="submit"]:hover {
  box-shadow: 0 0 2px #000000;
  transform: scale(1.2);
  background: linear-gradient(to bottom, #2ca0ca 0%, #3eb8e5 100%);
}

#newsletter h3 {
  display: block;
  background: url("../img/pxgray.png"), white;
  height: 50px;
  letter-spacing: 2px;
  text-align: center;
  font-family: "BebasNeue";
  font-size: 26px;
  line-height: 55px;
  color: black;
  border-radius: 5px;
  box-shadow: 0 1px 0 #393d3f, 1px 2px 0 #393d3f, 2px 3px 0 #393d3f,
    3px 4px 0 #393d3f;
  margin-bottom: 15px;
}

#newsletter input[type="email"] {
  margin-top: 20px;
  margin: 0 auto;
  height: 30px;
  width: 56%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #ccc inset;
  border-radius: 5px;
  padding-left: 15px;
  color: grey;
}

#newsletter input[type="email"]:focus {
  color: #555;
  box-shadow: 1px 1px 1px grey inset;
}
